body { background: #EEE; color: #333; width: 700px; margin: 1em auto; }

#left, #right {
  display: inline-block;
  width: 345px;
  vertical-align: top;
}

h1 {
  font-size: 120%;
}

#preview, .picky-select {
  display: block;
  width: 200px;
}

.picky-select {
  font-size: 12px;
  border: 1px solid green;
  background: #DFD;
}
.picky-select.open {
  background: #ADA;
  color: black;
}
.picky-select.multi-select {
  border: 1px solid navy;
  background: #DDF;
}

.picky-select input.picky-select-search {
  border: 1px solid #888;
}

